button.react-calendar__tile {
  line-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

button.react-calendar__tile > abbr {
  font-size: smaller;
}

div.react-calendar__month-view__days {
  align-items: stretch;
}
